@charset "UTF-8";
/*
Author: Jonathan Barrett
Date: 2023-02-15
*/


.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
    grid-template-areas:
    "title title title"
    "contact profile profile"
    "Skills skills skills"
    "education experince experince"
    "education experince experince"
    "languages experince experince";
    grid-gap: 0.2rem;
    background-color: white;
    
 }

 .grid-container, h2{
    text-align: center;
    color: black;
 }

.title{
    grid-area: title;
    text-align: center;
    overflow-wrap: normal;
    border-bottom: solid black;

}
.contact{
    grid-area: contact;
    text-align: center;
    overflow-wrap: normal;
}

.skills{
    grid-area: skills;
    text-align: center;
    overflow-wrap: normal;
}

.education{
    grid-area: education;
    text-align: center;
    overflow-wrap: normal;
}

.languages{
    grid-area: languages;
    text-align: center;
    overflow-wrap: normal;
}

.profile{
    grid-area: profile;
    text-align: left;
    overflow-wrap: normal;
}

.experince{
    grid-area: experince;
    text-align: center;
    overflow-wrap: normal;
}

ul{
    list-style-position: inside;
}

@media only screen and (max-width: 600px) {
    .grid-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        justify-content: center;
        grid-template-areas:
        "title"
        "contact"
        "profile"
        "Skills"
        "education"
        "experince"
        "languages" 
     }
     .img{
        display: none;
     }
}