@charset "UTF-8";
/*
Author: Jonathan Barrett
Date: 2023-02-15
*/


h2{
    text-align: center;
    color: darkred;
}

.FlexResume{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.flex-item{
    min-width: 300px;
    margin: 20px;
    min-height: 300px;
    border: solid darkgray;
    background-color: white;
    padding: 12px;
    text-align: left;
}

.flex-item h3{
    text-decoration: underline;
    text-align: center;
    font-weight: bolder;
    color: black;
}

.flex-item h4{
    color: black;
}

